<?xml version="1.0"?>
<!--
 *
 * System.Data.SQLite.dll.config -
 *
 * WARNING: This XML configuration file is intended for use within the NuGet
 *          package directories only.  Please do not copy this file to any of
 *          the build output directories because it could interfere with the
 *          native library pre-loading feature.
 *
 * Written by Joe Mistachkin.
 * Released to the public domain, use at your own risk!
 *
-->
<configuration>
  <dllmap os="windows" cpu="x86" dll="SQLite.Interop.dll" target="platform-libs/windows/32/SQLite.Interop.dll" />
  <dllmap os="windows" cpu="x86-64" dll="SQLite.Interop.dll" target="platform-libs/windows/64/SQLite.Interop.dll" />
  <dllmap os="osx" cpu="x86" dll="SQLite.Interop.dll" target="platform-libs/macosx/32/libSQLite.Interop.dylib" />
  <dllmap os="osx" cpu="x86-64" dll="SQLite.Interop.dll" target="platform-libs/macosx/64/libSQLite.Interop.dylib" />
  <dllmap os="!windows,osx" cpu="x86" dll="SQLite.Interop.dll" target="platform-libs/linux/32/libSQLite.Interop.so" />
  <dllmap os="!windows,osx" cpu="x86-64" dll="SQLite.Interop.dll" target="platform-libs/linux/64/libSQLite.Interop.so" />
</configuration>
